body{
    background-color: #ccf3ff;
}
img{
    margin-left: auto;
    margin-right: auto;
}
.card{
    background-color: #b3ffb3;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}