body{
    background-color: #ccf3ff;
}
img{
    margin-left: auto;
    margin-right: auto;
}
.card{
    background-color: #e6ffff;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0px 0px;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}