.red {
    background-color: #ff0000;
}
.nepali {
    background-color: #3333cc;
    font-family: monospace;
}
.german {
    background-color:#ffff00;
    font-family: sans-serif;
}
.italian {
    background-color: #00cc00;
    font-family: cursive;
}
.french {
    background-color: #000099;
    font-family: fantasy;
}